<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
  </head>
  <body>
    <h1>Signup Page</h1>

    <form action="{% url 'signup' %}" method="post">
      {% csrf_token %}
      <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />
      </div>
      <div>
        <label for="nickname">Nickname:</label>
        <input type="text" id="nickname" name="nickname" required />
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
      </div>
      <div>
        <label for="address">Address:</label>
        <input type="text" id="address" name="address" required />
      </div>
      <button type="submit">Signup</button>
    </form>
  </body>

  {% if messages %}
  <script type="text/javascript">
    {% for message in messages %}
        alert("{{ message }}");
    {% endfor %}
  </script>
  {% endif %}
</html>
