<!DOCTYPE html>
<html>
  <head>
    <title>Product List</title>
  </head>
  <body>
    <h2>Product List</h2>
    <ul>
      {% for product in products %}
      <li>
        <h3>{{ product.name }}</h3>
        <p>{{ product.description }}</p>
        <p>Price: {{ product.price }}</p>
        <p>Stock: {{ product.stock }}</p>
        {% for image in product.images.all %} {% comment %} src는 media 폴더를
        기준으로 하기 때문에 {% endcomment %}
        <img
          src="{{ image.image.url }}"
          alt="Image of {{ product.name }}"
          width="100"
        />
        {% endfor %}

        <a href="{% url 'edit_product' product.id %}">Edit</a>
        <a href="{% url 'delete_product' product.id %}">Delete</a>
      </li>
      {% empty %}
      <li>No products available.</li>
      {% endfor %}
    </ul>
  </body>
</html>
